<section class="pb-10">
    <h1 class="text-center text-main my-2">Forget Password :</h1>

     @if(step==1){
        <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="step1()">
            <div class="my-2">
                <label for="email" class="ps-2 py-2">Email:</label>
               <input formControlName="email" type="email"  id="email" class="form-control">
            </div>
    
            <button [disabled]="verifyEmail.invalid" class="btn-main">Verify Email</button>
        </form>
     }


    @else if (step==2) {
        <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="step2()">
            <div class="my-2">
                <label for="code" class="ps-2 py-2">code:</label>
               <input readonly formControlName="resetCode" type="text"  id="code" class="form-control">
            </div>
            <button [disabled]="verifyCode.invalid" class="btn-main">Verify code</button>
        </form>
    }

   


    @else if (step==3) {
        <form [formGroup]="reset" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="stepe3( )">

        <div class="my-2">
            <label for="email" class="ps-2 py-2">Email:</label>
           <input formControlName="email" type="email"  id="email" class="form-control">
        </div>

        <div class="my-2">
            <label for="newPassword" class="ps-2 py-2">code:</label>
           <input formControlName=" newPassword" type="password"  id="newPassword" class="form-control">
        </div>
       
       
        <button [disabled]="reset.invalid" class="btn-main">Confirm</button>
    </form>
    }

</section>
